# Base framework
fastapi
uvicorn[standard]
celery
redis
sqlmodel
python-multipart
openai

# LangChain core
langchain
langchain-community
langchain-core
langchain-openai
pypdf

# Vector models / PyTorch
sentence-transformers
torch
chromadb
langchain-text-splitters
unstructured

# Extra
structlog
pymupdf
langfuse
python-dotenv